
*{
    box-sizing: border-box;
}
section{
display: block;
}
.section3{
    margin: 0;
    background-color: #ffffff;
    color: #fff;
    font-family: Calibri, sans-serif;
}

.center{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center p{
    width: 70%;
    font-size: 30px;
    display: block;
    color: #25408F ;
    white-space: pre-line;
    text-align: center;
}

.char{
    font-size: 40px;
    height: 40px;
    animation: an 1s ease-out 1 both;
    display: inline-block;
}

@keyframes an{
    from{
        opacity: 0;
        transform: perspective(500px) translate3d(-40px, -45px, -155px) rotate3d(1, -1, 0, 35deg);
    }
    to{
        opacity: 1;
        transform: perspective(500px) translate3d(0, 0, 0);
    }
}
.WT-title {
    padding: 20px;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F99B1C;
    color: white;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
	/* border-radius: 50px; */
}
.section {
    padding: 80px 0 65px;
    margin-bottom: 30px;
}
.section-header {
    color: #fff;
    margin-bottom: 50px;
    text-align: center;
    position: relative;
}

.section-header .section-title {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-color: #f99d1c;
    background-image: -webkit-linear-gradient(bottom right, #f99d1c, #f99d1c);
    background-image: -o-linear-gradient(bottom right, #f99d1c, #f99d1c);
    background-image: linear-gradient(to top left, #f99d1c, #f99d1c);
    position: relative;
}