* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), transparent),
    url("../../assets//BackGround3.jpg");
  background-size: cover;
  background-position: 100%;
  /* padding: 0 8%; */
  position: relative;
}

.text-box {
  color: #fff;
  position: absolute;
  top: 40%;
  left: 5%;
}
.text-box p {
  font-size: 30px;
  font-weight: 600;
}
.text-box h1 {
  font-size: 100px;
  line-height: 120px;
  margin-bottom: 20px;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  background: url(../../assets/back.png);
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
}
.text-box h3 {
  font-size: 30px;
  font-weight: 500;
}
@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}
@media screen and (max-width: 955px) {
  .container {
  background-position: 80%;
}
}
@media screen and (max-width: 666px) {
  .text-box p {
  font-size: 30px;
  font-weight: 600;
}
.text-box h1 {
  font-size: 70px;
  line-height: 120px;
  margin-bottom: 20px;
}
.text-box h3 {
  font-size: 23px;
  font-weight: 500;
}
}
@media screen and (max-width: 434px) {
    .container {
  background-position: 78%;
}
  .text-box p {
  font-size: 30px;
  font-weight: 600;
}
.text-box h1 {
  font-size: 60px;
  line-height: 120px;
  margin-bottom: 20px;
}
.text-box h3 {
  font-size: 20px;
  font-weight: 500;
}
}
