.section2{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 10vh;
    font-family: 'Open Sans', arial, sans-serif;  }
  .box{
    width: 1200px;
    padding: 150px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 15px;
    background: #25408F;
    margin: 0 auto;
    z-index: -2;
  }
  .card{
    position: relative;
    width: 350px;
    height: 450px;
    background: #ffffff;
    margin: auto;
    border-radius: 4px;
    box-shadow:0 2px 10px rgba(0,0,0,.2);
  }
  .card:before,
  .card:after
  {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background: #fafafa;
    transition: 0.5s;
    z-index:-1;
  }
  .card:hover:before{
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
  }
  .card:hover:after{
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
  }
  .card .imgBx{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #ffffff;
  transition: 0.5s;
  z-index: 1;
  }
  
  .card:hover .imgBx
  {
    bottom: 80px;
  }

  .card .imgBx img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .card .details{
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 10px;
      height: 60px;
      text-align: center;
  }

  .card .details h2{
   margin: 0;
   padding: 0;
   font-weight: 650;
   font-size: 20px;
   color: #25408F;
   text-transform: uppercase;
  } 

  .card .details h2 span{
  font-weight: 550;
  font-size: 16px;
  color: #F99B1C;
  display: block;
  margin-top: 5px;
   } 
   .t-title {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F99B1C;
    color: white;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
	/* border-radius: 50px; */
}